name: Lean CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Lean 4
        uses: julianberberich/setup-lean@v1.1.1
        with:
          lean-version: 4

      - name: Build project
        run: |
          lake update
          lake build
